# Node / Angular
**/node_modules/
**/dist/
**/.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java / Maven
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.log

# Maven wrapper folder binaries if needed, keeping mvnw scripts
!**/mvnw
!**/mvnw.cmd
!**/.mvn/wrapper/maven-wrapper.jar

# IDE & OS files
.idea/
.vscode/
*.swp
*.DS_Store
Thumbs.db
