
<body>
  <app-navbar></app-navbar>

  <section class="hero">
    <div class="container">
      <h1>Anjali Hospital</h1>
      <h2>Compassionate Care, Advanced Medicine</h2>
      <p>Your Health, Our Priority</p>
      <a href="#" routerLink="/appointment" class="btn">Book Appointment</a>
      
    </div>
  </section>

  <section class="services">
    <div class="container">
      <h2>Our Services</h2>
      <div class="cards">
        <div class="card">
          <img src="https://drkalkekarcuraclinic.com/assets/images/gallery/nuclear.jpg" alt=""/>
          <h3>Cardiology</h3>
          <p>Heart checkups, ECG, and advanced heart care.</p>
        </div>
        <div class="card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3rHWr2zge4VsGwCH45p9tXpoVVt9RpKqjyKEA8IyuaLh7MKh4AitYj1fB&s=10" alt=""/>
          <h3>Neurology</h3>
          <p>Brain & nerve treatment with expert neurologists.</p>
        </div>
        <div class="card">
          <img src="https://img.magnific.com/premium-photo/blue-white-medical-illustration-human-heart_1259626-403.jpg?semt=ais_hybrid&w=740&q=80" alt=""/>
          <h3>Pulmanology</h3>
          <p>Lungs and Respiratory treatment with expert Pulmanologist.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="doctors">
    <div class="container">
      <h2>Our Doctors</h2>
      <div class="cards">
        <div class="card">
          <img src="https://i.pinimg.com/736x/8b/98/6c/8b986c2fff4077934beaa25e11d3b8e3.jpg" alt=""/>
          <h3>Dr. Asha Verma</h3>
          <p>Cardiologist</p>
        </div>
        <div class="card">
          <img src="https://i.pinimg.com/736x/47/1d/97/471d978af65fe65ec1fd7e9647ce2ab7.jpg" alt=""/>
          <h3>Dr. Sneha Reddy</h3>
          <p>Neurologist</p>
        </div>
        <div class="card">
          <img src="https://i.pinimg.com/736x/ce/80/0d/ce800d16e6c52dcca05160c31705b012.jpg" alt=""/>
          <h3>Dr. Raj Mehta</h3>
          <p>Pulmanologist</p>
        </div>
      </div>
    </div>
  </section>
  <section class="why-us">
  <div class="container">
    <h2>Why Choose Us?</h2>

    <div class="cards">
      <div class="card">
        <h3>👨‍⚕️ Expert Doctors</h3>
        <p>Experienced specialists across multiple departments.</p>
      </div>

      <div class="card">
        <h3>🏥 Modern Equipment</h3>
        <p>Advanced diagnostic and treatment facilities.</p>
      </div>

      <div class="card">
        <h3>💊 Pharmacy</h3>
        <p>24/7 in-house pharmacy with essential medicines.</p>
      </div>
    </div>
  </div>
</section>
  <section class="stats">
  <div class="container">

    <div class="stat">
      <h2>50+</h2>
      <p>Doctors</p>
    </div>

    <div class="stat">
      <h2>10K+</h2>
      <p>Happy Patients</p>
    </div>

    <div class="stat">
      <h2>15+</h2>
      <p>Departments</p>
    </div>

    <div class="stat">
      <h2>24/7</h2>
      <p>Emergency</p>
    </div>

  </div>
</section>
</body>
 <footer>
  <div class="container footer-content">

    <div class="footer-section">
      <h3>Anjali Hospital</h3>
      <p>Compassionate Care, Advanced Medicine</p>
      <p>Your Health, Our Priority</p>
    </div>

    <div class="footer-section">
      <h3>Contact Us</h3>
      <p>📞 +91 98765 43210</p>
      <p>✉ contact@anjalihospital.com</p>
      <p>🕒 Open 24/7</p>
    </div>

    <div class="footer-section">
      <h3>Location</h3>
      <p>📍 123 Health Care Road</p>
      <p>Hyderabad, Telangana</p>
      <p>India - 500001</p>
    </div>

  </div>

  <hr>

  <div class="copyright">
    <p>&copy; 2026 Anjali Hospital. All Rights Reserved.</p>
  </div>
</footer>